<h1>Welcome to {{ title }}</h1>

<div>
    <button class="btn-primary" (click)="getAllPersons()">Obtener Personas</button>
    <button class="btn-primary" (click)="getPerson()">Obtener Persona</button>
    <button class="btn-primary" (click)="createPerson()">Crear Persona</button>
    <button class="btn-primary" (click)="updatePerson()">Actualizar Persona</button>
    <button class="btn-primary" (click)="deletePerson()">Eliminar Persona</button>
</div>

<div *ngIf="thatLooks == 0">
    <ul>
        <li *ngFor="let person of persons">{{person.nombre}}-{{person.apellido}}</li>
    </ul>
</div>

<div *ngIf="thatLooks == 1">
    <ul>
        <li>ID de la persona: {{person.id}}</li>
        <li>Nombre: {{person.nombre}}</li>
        <li>Apellido: {{person.apellido}}</li>
        <li>Edad: {{person.edad}}</li>
    </ul>
</div>

<div *ngIf="thatLooks == 2">
    <p>Codigo de estado de operacion: {{response.statusCode}}.</p>
    <p>Descripcion de operacion: {{response.description}}.</p>
</div>